body{
    /* background-color: rgb(118, 106, 94); */
    background: rgb(140,115,114);
background: linear-gradient(90deg, rgba(140,115,114,1) 11%, rgba(64,54,44,1) 100%);
}

table{
    table-layout: fixed;
}

#header_tabella, #dati_tabella, tr, td, th{
	border-bottom: 1px rgba(216,206,198,0.4) solid;
	border-collapse: collapse;
}

#header_tabella{
    background-color: rgb(216,206,198);
    position: sticky;
    top:0;
}

#dati_tabella{
    padding-top: 24px;
    height:200px;
    overflow-x: scroll;
}

#header_tabella, #dati_tabella{
    width:90%;
    margin: auto auto;
    text-align: center;
    border-radius: 5px;
}

.id{
    width: 10%;
}
.settore{
    width: 12%;
}
.numFila{
    width: 14%; 
}
.numPosto{
    width: 17%;
}

.tipologia{
    width: 30%;
}

.elimina, .modifica{
    width: 4%;
}

