/*for debug*/
/* div, header, footer{
    border:solid black 1px;

} */
/*
@media (min-width: 600px){
    #main{
        grid-template-areas: 
    }
}
*/

/* STRUTTURA PRINCIPALE DELLA PAGINA */

body{
    margin: 0;
    font-family: 'Rubik', sans-serif;
    color: white;
}
iframe{
    border: 0px;
}
.active{
    background-color: rgba(0,0,0,0.4);
    font-weight: 900;
    border-radius: 10px;
}

#logo{
    margin: 3px 7px;
}

#main{
    margin: 0;

    display: grid;
    grid-template-rows: 50px 1fr 40px;
    grid-template-columns: 0.6fr 3.5fr;
    min-height: 100vh;
}
header, footer{
    background-color: #719fc7;
}

header{
    border-bottom: 3px #638bae solid;
    grid-column-start: span 2;
    display:flex;
}
#nav{
    background: rgb(255,212,143);
    background:linear-gradient(0deg, Rgba(255,224,174,100) 0%,rgba(210,181,134,1) 50%, rgba(163,148,124,1) 100%);
    border-right: 3px Rgba(255,224,174,0.38) solid;
    grid-row-start: 2;
    grid-row-end: span 2
}

#data{
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row-start: 2;
    grid-row-end: span 2;
    display:flex;
}
footer{
    border-top: 3px #638bae solid;
    grid-column-start: span 3;
}
#footer_left{
    margin-left: 20px;
    float: left;
}
#footer_right{
    margin-right: 20px;
    float: right;
    text-align: right;
}

#content{
    display:flex;
    flex-grow: 1;
}

/* STILI AGGIUNTIVI */

header h1{
	margin:auto;
}

a{
	color: white;
  	text-decoration: none; /* no underline */
}
ul{
	list-style-type: none;
    padding: 0;
}

#nav{
	text-align: center;
}

#nav li{
	background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
	height: 50px;
    margin-bottom: 10px;
    padding: auto;
    
    display:flex;

    font-size: 3vmin;
    font-weight: 300;
    transition: font-weight 250ms ease-in-out;
}
#nav li:hover{
    background-color: rgba(0,0,0,0.4);
    font-weight: 900;
}

#nav li a{
 	flex-grow:1;
    display: flex; /* CSS3 */
  	align-items: center;
    justify-content: center;
}